html, body{
    height: 100%;
    width: 100%;
    color: #222;
    font-family: sans-serif;
}

/* Header*/

.navbar{
    padding: 10px;
}

.navbar-nav li{
    padding-right: 30px;
}


.nav-link {
    font-size: 20px;
}

.corousel-inner img{
    width: 100%;
    height: 100%;
}

/* Main*/

.card-group{
    padding-top: 20px;
    padding-right: 100px;  
    padding-bottom: 30px;
}

.cities{
    padding-left: 100px;
    padding-top: 20px;
}

.about{
    padding-left: 100px;
    padding-top: 20px;
    padding-right: 100px;
}

.information{
    padding-left: 100px;
    padding-top: 20px;
}

.contact{
    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 50px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.logo{
    height: 20px;
    width: 30px;
}

/* Footer */
footer{
    background:#F5F5F5;
        padding-top: 15px;
        padding-bottom: 15px;
}

.copyright{
    padding-top: 5px;
}